header{
    height: 80px;
    box-shadow: 1px 4px 4px 0px #00000030;
}
.header-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logozinha{
    width: 110px;
}

.link-header{
    margin-left:65px ;
    margin-right: 5px;
    text-decoration: none;
    color: #1f1848;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navas_header{
    display: flex;
    justify-content: center;
    align-items: center;
}